<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.dialect">org.hibernate.dialect.SQLiteDialect</property>
        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.connection.url">jdbc:sqlite:backend/demo/porfoliotracker.db</property>

        <!-- Hibernate connection pool (optional) -->
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>

        <!-- Disable Hibernate's automatic schema generation -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Enable Hibernate's second-level cache -->
        <property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="hibernate.show_sql">true</property>

        <!-- Drop and re-create the database schema on startup (useful for development) -->
        <property name="hibernate.hbm2ddl.auto">create-drop</property>

        <!-- Specify the names of the entity classes -->
        <mapping class="justanorg.taskmanager.DAO.model.Project"/>
        <mapping class="justanorg.taskmanager.DAO.model.Name"/>
    </session-factory>
</hibernate-configuration>
